<div class="container" style="margin-top:50px;width: 95%;">
    <div class="row">

        <div class="panel panel-success" style="border-style:inset;border-color:gray;" >
            <div class="panel-heading nav navbar-default">

                <div>
                    <div class="navbar-brand">
                        <h1 class="panel-title">
                           <font style="font-style:italic;font-size:15px"> <b>{{title}}</b> </font>
                        </h1>
                    </div>


                    <div>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <form class="form-inline" #formCtrl="ngForm">
                                    <input class="form-control" 
                                    style="width:400px !important   "
                                     type="search" placeholder="Search"
                                     #searchString aria-label="Search" name="search" 
                                        required>
                                    <button class="btn btn-outline-success glyphicon glyphicon-search" 
                                    style="margin:5px 35px 5px 5px" (click)="search(searchString.value)"
                                     [disabled]="!formCtrl.form.valid"></button>
                                    
                                </form>
                            </li>

                           
                            <li>
                                <a [routerLink]="['request']" class="">
                                    <span class="glyphicon glyphicon-user"></span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['cart']" class=""  title="View Cart">
                                    <label *ngIf="selectedItems>0">{{selectedItems}}</label>
                                   <span class="glyphicon glyphicon-shopping-cart"></span>
                                </a>
                            </li>
                            <li>
                               <a [routerLink]="['']" (click)="searchString.value=''">
                                 <span class="glyphicon glyphicon-home"></span></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="panel-body layout">
                                  
                <router-outlet></router-outlet>
                
            </div>
        </div>
    </div>
</div>

<ngx-spinner></ngx-spinner>