/* You can add global styles to this file, and also import other style files */
.font{
    color: maroon;
    font-weight: bold;
}

.hover{
    cursor:pointer;
}

a{
    cursor:pointer;
}

.layout{
    height: 500px;
    overflow: scroll;
}

input.form-control{
    width: 30%;
}

select.form-control{
    width: 30%;
}

textarea.form-control{
    width: 30%;
}

.errors{
    color: red;
}